/* FONT FAMILY 
font-family: 'Concert One', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Roboto Condensed', sans-serif; 

COLOR PALLETE
#CC3636
#367E18
#232323
##ff5a6e
*/

* {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0%;
    padding: 0%;
  }